$button-main: #000;
$button-second: #fff;

$google-main: #4285f4;
$google-second: #fff;

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 600;
  background-color: $button-main;
  color: $button-second;
  text-transform: uppercase;
  font-family: 'Open Sans';
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $button-second;
    color: $button-main;
    border: 1px solid $button-main;
  }

  &.inverted {
    background-color: $button-second;
    color: $button-main;
    border-color: $button-main;

    &:hover {
      background-color: $button-main;
      color: $button-second;
      border: $button-second;
    }
  }

  &.google-sign-in {
    background-color: $google-main;
    color: $google-second;

    &:hover {
      background-color: $google-second;
      color: $google-main;
      border-color: $google-main;
    }
  }
}
